Question-1:

In [2]:
import numpy as np

arr = np.arange(1, 13)  # sample array (1â€“12)

split_arrays = np.array_split(arr, 3)

total_sum = sum(a.sum() for a in split_arrays)

print("Original Array:", arr)
print("Split Arrays:", split_arrays)
print("Total Sum:", total_sum)

Original Array: [ 1  2  3  4  5  6  7  8  9 10 11 12]
Split Arrays: [array([1, 2, 3, 4]), array([5, 6, 7, 8]), array([ 9, 10, 11, 12])]
Total Sum: 78

Question-2:

In [4]:
import numpy as np

arr = np.array([1, 4, 6, 9, 12, 15, 18, 7, 3, 10])

filtered = arr[(arr > 5) & (arr < 15)]

print("Original:", arr)
print("Filtered:", filtered)

Original: [ 1  4  6  9 12 15 18  7  3 10]
Filtered: [ 6  9 12  7 10]

Question-3:

In [6]:
# set1 = Even numbers 0â€“10
set1 = {x for x in range(11) if x % 2 == 0}

# set2 created using constructor
set2 = set(range(1, 11))

# remove 2nd and 5th element (index based after sorting for consistency)
sorted_set2 = sorted(set2)
set2.remove(sorted_set2[1])
set2.remove(sorted_set2[4])

# intersection
set3 = set1.intersection(set2)

print("Set1:", set1)
print("Set2 after removal:", set2)
print("Intersection (Set3):", set3)

Set1: {0, 2, 4, 6, 8, 10}
Set2 after removal: {1, 3, 4, 6, 7, 8, 9, 10}
Intersection (Set3): {8, 10, 4, 6}

Question-4:

In [7]:
students = {
    101: {"sapid":101, "name":"Ali", "age":20, "semester":"Six"},
    102: {"sapid":102, "name":"Sara", "age":21, "semester":"Six"},
    103: {"sapid":103, "name":"Ahmed", "age":19, "semester":"Six"},
    104: {"sapid":104, "name":"Ayesha", "age":22, "semester":"Six"},
    105: {"sapid":105, "name":"Bilal", "age":20, "semester":"Six"}
}

# Update semester
for s in students.values():
    s["semester"] = "Seven"

print(students)

{101: {'sapid': 101, 'name': 'Ali', 'age': 20, 'semester': 'Seven'}, 102: {'sapid': 102, 'name': 'Sara', 'age': 21, 'semester': 'Seven'}, 103: {'sapid': 103, 'name': 'Ahmed', 'age': 19, 'semester': 'Seven'}, 104: {'sapid': 104, 'name': 'Ayesha', 'age': 22, 'semester': 'Seven'}, 105: {'sapid': 105, 'name': 'Bilal', 'age': 20, 'semester': 'Seven'}}